.background-color {
    background: linear-gradient(#6d6875, #b5838d, #e5989b, #ffb4a2, #ffcdb2);
}

.activities {
    height: 350px;
    display: flex;
    flex-direction: column;
}

.title3 {
    margin: 30px auto 70px auto;
    font-family: Ramadhanfest;
    font-size: 22px;
    color: #ffb703;
    text-shadow: 2px 2px 6px black;
}

.img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img1,
.img2,
.img3 {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transition: width 0.15s, height 0.15s, margin 0.15s;
}

.img1:hover,
.img2:hover,
.img3:hover {
    width: 160px;
    height: 160px;
    margin-left: 0px;
    margin-right: 0px;
}

.card-warp {
    height: 340px;
}

.avatar {
    width: 150px;
    object-fit: cover;
    object-position: center;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-bottom: 6px solid #9C0D38;
    color: white;
    text-shadow: 0px 0px 5px yellow, 0px -5px 5px red;
    box-shadow: 5px 5px 5px black;
    border-radius: 12px;

    /*
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation: myColorChange;
    */

    animation: 3s linear 0s infinite running myColorChange;
}

@keyframes myColorChange{
    20%{background-color: #6d6875;}
    40%{background-color: #b5838d;}
    60%{background-color: #e5989b;}
    80%{background-color: #ffb4a2;}
    100%{background-color: #ffcdb2;}
}

@media (min-width: 721px) and (max-width: 999px) {
    .activities {
        height: 400px;
    }

    .title3 {
        font-size: 25px;
    }

    .img1,
    .img2,
    .img3 {
        width: 160px;
        height: 160px;
    }

    .img1:hover,
    .img2:hover,
    .img3:hover {
        width: 180px;
        height: 180px;
    }
}

@media (min-width: 1000px) {
    .activities {
        height: 400px;
    }

    .title3 {
        font-size: 28px;
    }

    .img1,
    .img2,
    .img3 {
        width: 200px;
        height: 200px;
    }

    .img1:hover,
    .img2:hover,
    .img3:hover {
        width: 220px;
        height: 220px;
    }
}